---
import Layout from "../layouts/Layout.astro";
import TiltBox from "../components/TiltBox.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import type { iconPaths } from "../components/IconPaths";

const iconLinks: {
	label: string;
	href: string;
	icon: keyof typeof iconPaths;
}[] = [
	{
		label: "GitHub",
		href: "https://github.com/maxsrobotics",
		icon: "github-logo",
	},
	{
		label: "YouTube",
		href: "https://www.youtube.com/@maxrobotics3703",
		icon: "youtube-logo",
	},
	{
		label: "LinkedIn",
		href: "https://www.linkedin.com/in/max-kendall-a51209308/",
		icon: "linkedin-logo",
	},
	{
		label: "Discord",
		href: "https://discord.com/users/699990515256655943",
		icon: "discord-logo",
	},
	{
		label: "Email",
		href: "mailto:maxsrobotics@gmail.com",
		icon: "email-logo",
	},
];
---

<Layout title="Max Kendall">
	<main>
		<TiltBox width="900px">
			<div class="welcome">
				<div>
					<h1 style="margin-bottom: 1rem;">
						<span style="font-size: 2.5rem;">Hey there, I'm</span>
						<br />
						<span class="text-gradient">Max Kendall</span>
					</h1>
					<div class="socials">
						{
							iconLinks.map(({ href, icon, label }) => (
								<a href={href} class="social">
									<span class="sr-only">{label}</span>
									<Icon icon={icon} size="100" />
								</a>
							))
						}
					</div>
					<p
						class="text-lg"
						style="text-align: center; max-width: 30rem; margin: auto;"
					>
						I'm an avid youth developer in 8th grade based in the
						Greater Boston area in Massachusetts. I enjoy anything
						involving PCBs, embedded firmware, web development, CAD,
						3D printing, and combining all of these into a single
						functional project. I also love teaching and presenting
						these technical topics to spread the knowledge. Look
						below for some of my projects! [[TODO: ADD HAB SECTION]]
					</p>
				</div>
				<div>
					<img
						src="assets/portrait.jpg"
						alt="Max in front of his home electronics lab!"
					/>
				</div>
			</div>
		</TiltBox>
		<hr style="margin-top: 2em; margin-bottom: 2em;" />
		<h1>My Projects</h1>
		<div class="projects">
			<ProjectCard
				title="Tiny4FSK"
				body="Tiny4FSK is an ultra-tiny high-altitude research platform, fully open source. It allows students, educators, and researchers to gain access to advanced high-altitude research environments. It is designed to fly on high-altitude balloons, which is a hobby which allows people to fly research experiments to over 100,000 feet (31 km)!"
				href="https://github.com/maxsrobotics/Tiny4FSK"
				image="assets/Tiny4FSK_Sky.jpg"
			/>
			<ProjectCard
				title="Cubes in Space 2022"
				body="Cubes in Space is a program which gives students a 40mm cube to fly experiments on a sounding rocket. I flew an advanced electronics payload featuring application of Faraday's Law to test viability of generating electrical energy from the vibrations of a sounding rocket."
				href="https://github.com/maxsrobotics/CubesinSpace"
				image="assets/CiS.png"
			/>
			<!-- <ProjectCard
				title=""
				body="Tiny4FSK is an ultra-tiny high-altitude research platform, fully open source. It allows students, educators, and researchers to gain access to advanced high-altitude research environments. It is designed to fly on high-altitude balloons, which is a hobby which allows people to fly research experiments to over 100,000 feet (31 km)!"
				href="https://github.com/maxsrobotics/Tiny4FSK"
				image="assets/Tiny4FSK_Sky.jpg"
			/> -->
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		align-items: center;
		justify-content: center;
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		font-size: var(--icon-size);
		margin-bottom: 1rem;
		align-items: center;
		justify-content: center;
	}

	.social {
		display: flex;
		padding: var(--icon-padding);
		text-decoration: none;
		transition: color var(--theme-transition);
		justify-content: center;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.welcome {
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid rgb(139, 43, 43) 5px;
		border-radius: 4em;
		background-color: #0b111f;
	}

	.welcome div {
		margin: 1rem;
	}

	.welcome img {
		border: solid rgb(255, 165, 0) 5px;
		border-radius: 4em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		/* background-color: #92140C; */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.projects {
		display: flex;
		justify-content: center;
		gap: 50px;
	}
</style>
