---
import Layout from "../layouts/Layout.astro";
import TiltBox from "../components/TiltBox.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import type { iconPaths } from "../components/IconPaths";

const iconLinks: {
	label: string;
	href: string;
	icon: keyof typeof iconPaths;
}[] = [
	{
		label: "GitHub",
		href: "https://github.com/maxsrobotics",
		icon: "github-logo",
	},
	{
		label: "YouTube",
		href: "https://www.youtube.com/@maxrobotics3703",
		icon: "youtube-logo",
	},
	{
		label: "LinkedIn",
		href: "https://www.linkedin.com/in/max-kendall-a51209308/",
		icon: "linkedin-logo",
	},
	{
		label: "Discord",
		href: "https://discord.com/users/699990515256655943",
		icon: "discord-logo",
	},
	{
		label: "Email",
		href: "mailto:maxsrobotics@gmail.com",
		icon: "email-logo",
	},
];
---

<Layout title="Max Kendall">
	<main>
		<TiltBox>
			<div class="welcome">
				<div>
					<h1 style="margin-bottom: 1rem;">
						<span style="font-size: 2.5rem;">Hey there, I'm</span>
						<br />
						<span class="text-gradient">Max Kendall</span>
					</h1>
					<div class="socials">
						{
							iconLinks.map(({ href, icon, label }) => (
								<a href={href} class="social">
									<span class="sr-only">{label}</span>
									<Icon icon={icon} size="100" />
								</a>
							))
						}
					</div>
					<p
						class="text-lg"
						style="text-align: center; max-width: 30rem; margin: auto;"
					>
						I'm an avid youth developer based in the Greater Boston
						area in Massachusetts. I enjoy anything involving PCBs,
						embedded firmware, web development, CAD, 3D printing,
						and combining all of these into a single functional
						project. I also love teaching and presenting these
						technical topics to spread the knowledge. Look below for
						some of my projects! [[TODO: ADD HAB SECTION]]
					</p>
				</div>
				<div>
					<img
						src="assets/portrait.jpg"
						alt="Max in front of his home electronics lab!"
					/>
				</div>
			</div>
		</TiltBox>
		<hr style="margin-top: 2em; margin-bottom: 2em;"/>
		<h1>My Projects</h1>
		<ul role="list" class="link-card-grid">
		<ProjectCard
			title="Tiny4FSK"
			body="Tiny4FSK is an ultra-tiny high-altitude research platform, fully open source. It allows students, educators, and researchers to gain access to advanced high-altitude research environments. It is designed to fly on high-altitude balloons, which is a hobby which allows people to fly research experiments to over 100,000 feet (31 km)!"
			href="https://github.com/maxsrobotics/Tiny4FSK"
			image="assets/Tiny4FSK_Sky.jpg"
		/>
		
			<!-- <Card
				href="https://github.com/maxsrobotics/Tiny4FSK"
				title="Tiny4FSK"
				body="Tiny4FSK is an ultra-tiny high-altitude research platform, fully open source. It allows students, educators, and researchers to gain access to advanced high-altitude research environments. It is designed to fly on high-altitude balloons, which is a hobby which allows people to fly research experiments to over 100,000 feet (31 km)!"
				image="assets/Tiny4FSK_Sky.jpg"
			/>
			<Card
				href="https://example.com"
				title="PLACEHOLDER"
				body="PLACEHOLDER"
			/>
			<Card
				href="https://example.com"
				title="PLACEHOLDER"
				body="PLACEHOLDER"
			/>
			<Card
				href="https://example.com"
				title="PLACEHOLDER"
				body="PLACEHOLDER"
			/> -->
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		font-size: var(--icon-size);
		margin-bottom: 1rem;
		align-items: center;
		justify-content: center;
	}

	.social {
		display: flex;
		padding: var(--icon-padding);
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
		justify-content: center;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.welcome {
		display: flex;
		max-width: 50rem;
		max-height: 15 rem;
		border: solid rgb(139, 43, 43) 5px;
		border-radius: 4em;
	}

	.welcome > div {
		margin: 1rem;
	}

	.welcome > div > img {
		border: solid rgb(255, 165, 0) 5px;
		border-radius: 4em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		/* background-color: #92140C; */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}

	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}

	.instructions strong {
		color: rgb(var(--accent-light));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
