---
import "../layouts/Layout.astro"
---
<div class="navbar">
    <a href="#" onclick="activateTab(event)">Home</a>
    <a href="#" onclick="activateTab(event)">My Story</a>
    <a href="#project-header" onclick="activateTab(event)">Projects</a>
    <a href="#speaking-header" onclick="activateTab(event)">Public Speaking</a>
    <a href="#classes-header" onclick="activateTab(event)">Classes</a>
    <a href="#leadership-header" onclick="activateTab(event)">Leadership</a>
</div>

<style>
    .navbar {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        background-color: #0b111f;
        padding: 10px 20px;
        border-radius: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border: solid 5px gray;
    }

    .navbar a {
        text-decoration: none;
        color: #666;
        padding: 10px 20px;
        border-radius: 25px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .navbar a:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .navbar a.active {
        background-color: rgb(var(--accent-red));
        color: white;
    }
</style>

<script is:inline>
    function activateTab(event) {
        // Remove active class from all tabs
        var tabs = document.querySelectorAll(".navbar a");
        tabs.forEach(function (tab) {
            tab.classList.remove("active");
        });

        // Add active class to the clicked tab
        event.target.classList.add("active");
    }
</script>
