---
interface Props {
    name: string;
    body: string;
    image: string;
    position?: string;
    tags: Array<string>;
}

const { name, body, image, position, tags } = Astro.props;
---

<div class="skill">
    <h2>{ name }</h2>
    <img src={ image } style=`object-position: ${position};`>
    <p style="font-size: 12px"><em>Used in: </em><a href="#project-header"><span class="tags">
        {tags.map(tag => (
            <span class="tag">{tag}</span> // Wrap each tag in a span
        ))}
</a></p>
</div>

<style>
    .skill {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 200px;
        height: 150px;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 14px;
    }

    .skill img {
        clip-path: circle();
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .tags {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 14px;
    }

    .tag {
        background-color: rgb(139, 43, 43);
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        color: white;
    }
</style>